{% extends 'layout.html.twig' %}

{% block body %}
      {{ parent() }}
      <div class="main container">
        <h2>Autores</h2>
        <div class="text-muted" style="font-size:21px;">Salem Santiago y Schweitzer Kevin</div>
        <h2>Administrador</h2>
        <div class="text-muted" style="font-size:21px;">Santiago/pass</div>
        <h2>Editor</h2>
        <div class="text-muted" style="font-size:21px;">Kevin/pass</div>
      </div>
{% endblock %}
